@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #030616;
  font-size: 1rem;
  font-weight: 400;
}

/* HEADER */

header {
  text-align: center;
  padding: 4rem 0;
}

h1 {
  font-size: 2.25rem;
}

header p {
  margin-top: 1rem;
}

/* MAIN */

main {
  background-color: #F8FAFC;
  padding: 4rem 1.5rem;
}

h1, h2 {
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
}

main p {
  margin: 2rem 0;
}


li {
  margin-top: 0.75rem;
}

a {
  text-decoration: none;
  color: #4E80EE;
}

ol, ul {
  padding-left: 1.1rem;
}

hr {
  border:0.1rem solid #D2D5DA;
  margin-bottom: 2rem;
}